

<div class="container">
  <h1>Tweet Finder</h1>
  <h3>Enter a Twitter Username!</h3>
  <form id="form">
    <input type='text' name='username'>
    <input type='submit' value='submit'>
  </form>


  <div id='tweets'><div>



</div>

<!--[if !(lt IE 8)]><!-->
   <script type="text/javascript">
     (function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=document.location.protocol+"//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/widget.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
   </script>
<!--<![endif]-->
